
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<hr />

<h2>This is ViewData:@ViewData["message1"]</h2>

<hr />

<h2>This is Viewbag:@ViewBag.message2</h2>

<hr />

<h2>This is temp data:@TempData["message3"]</h2>

<hr />*@

