
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>

<h1>This is about us; page</h1>

<nav>
    <ul>
        <li>@Html.ActionLink("Home page", "Index", "Home")</li>
        <li>@Html.ActionLink("AboutUs page", "AboutUs", "Home")</li>
        <li>@Html.ActionLink("ContactUs page", "ContactUs", "Home")</li>
    </ul>
</nav>