
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>This is index page</h1>

<nav>
    <ul>
        <li>@Html.ActionLink("Home page","Index","Home")</li>
        <li>@Html.ActionLink("AboutUs page","AboutUs","Home")</li>
        <li>@Html.ActionLink("ContactUs page","ContactUs","Home")</li>
    </ul>
</nav>

